---
import Layout from '@layouts/page.astro';

import Line from '@components/underline.astro';
import Link from '@components/link.astro';
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and/or its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="404 | Page Not Found"
  title="Parallel Program Report"
>
  <main class="content text-3xl">
    <Line>404</Line>

    <span class="pt-5 pb-3">The page you were looking for does not reside here, unfortunately.</span>

    <hr class="text-ctp-pink" />
    <Link href="/" class="pb-3" title="Go Home">Go Home</Link>
  </main>
</Layout>
