---
import Layout from '@layouts/Page.astro';
---

<Layout description="No such page exists." pageTitle="Page Not Found" title="404 | Parallel Program Report">
  <div class="flex flex-col gap-3 pt-3">
    <h1 class="title">404</h1>

    <span>The page you were looking for does not reside here, unfortunately.</span>
  </div>
</Layout>
