---
import Layout from '@layouts/page.astro';

import Line from '@components/underline.astro';
import Link from '@components/link.astro';
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and/or its API in a meaningful way, and have received the Parallel Program emblem."
  title="404 | Parallel Program Report"
>
  <Line>404</Line>
  <p>The page you were looking for does not reside here, unfortunately.</p>

  <Link href="/" title="Go Home">Go Home</Link>
</Layout>
