---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/footer.astro';
import { Icon } from 'astro-icon';
---

<Layout
  color="#e0802c"
  description="This site covers Guardians who contributed to Destiny 2 in a meaningful way, and have received the Parallel Program emblem."
  icon="/parallel.png"
  siteName="404 | Parallel Program Report"
  title="404 | Parallel Program Report"
>
<header>
    <h2 class="underline">Page Not Found</h2>
    <p>The page you were looking for does not reside here, unfortunately.</p>

    <a href="/"><Icon size={20} name="mdi:arrow-left" /> Go Home</a>
</header>
</Layout>
<Footer />
