---
import Layout from '@layouts/Page.astro';

import Line from '@components/Underline.astro';
import Footer from '@components/Footer.astro';
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and/or its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="404 | Page Not Found"
  title="Parallel Program Report"
>
  <main class="content">
    <Line>404</Line>

    <span class="pt-3 pb-1">The page you were looking for does not reside here, unfortunately.</span>

    <Footer />
  </main>
</Layout>
