---
import Layout from '@layouts/Page.astro';
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="404 | Page Not Found"
  title="Parallel Program Report"
>
  <span class="pb-1 pt-3">The page you were looking for does not reside here, unfortunately.</span>
</Layout>
