---
import Layout from '@layouts/Page.astro';

import Footer from '@components/Footer.astro';
import Line from '@components/Underline.astro';
import Turnstile from '@components/Turnstile.astro';
---

<Layout
  description="Want to be included in this site? Submit your contribution for a review."
  pageTitle="Contact"
  title="Contact | Parallel Program Report"
  turnstile={true}
>
  <main class="content">
    <Line>Submit a resource</Line>

    <span class="pt-1 italic">
      Do you have the Parallel Program emblem, and are looking to see your name here? Let me know!
    </span>

    <div class="flex flex-col gap-2">
      <label for="name" class="font-semibold">
        Name:
        <input placeholder="Guardian" type="text" id="name" class="w-full pl-1 font-normal" maxlength="128" required />
      </label>

      <label for="resourceName" class="font-semibold">
        Resource Name:
        <input
          placeholder="Destiny Item Manager"
          type="text"
          id="resourceName"
          class="w-full pl-1 font-normal"
          maxlength="128"
          required
        />
      </label>

      <label for="resourceURL" class="font-semibold">
        Resource URL:
        <input
          placeholder="https://example.com"
          type="url"
          id="resourceURL"
          class="w-full pl-1 font-normal"
          maxlength="128"
          required
        />
      </label>

      <label for="role" class="font-semibold">
        Your role / contribution:
        <input placeholder="Developer" id="role" class="w-full pl-1 font-normal" maxlength="256" required />
      </label>

      <label for="email" class="font-semibold">
        Your email, so I can reach back to you: (optional)
        <input
          placeholder="example@gmail.com"
          type="email"
          id="email"
          class="w-full pl-1 font-normal"
          maxlength="128"
        />
      </label>

      <div class="flex flex-col">
        <div id="turnstile" class="cf-turnstile pt-3 pb-5" data-sitekey="0x4AAAAAAADTMZcYKETjz8js" data-size="normal">
        </div>
        <button
          class="h-10 w-32 rounded-full bg-ctp-red text-center font-medium text-ctp-base hover:opacity-80 dark:bg-ctp-red"
          onclick="validate(event)"
          type="submit"
          id="submit">Submit</button
        >
        <span id="status" class="pt-3"></span>
      </div>
    </div>
    <Footer />
  </main>

  <Turnstile />

  <style>
    input {
      @apply border dark:border-ctp-red dark:border-opacity-60 dark:bg-ctp-base;
    }
  </style>
</Layout>
