---
import Layout from '@layouts/Page.astro';

import Footer from '@components/base/Footer.astro';
import Line from '@components/base/Underline.astro';
import ContactForm from '@components/contact/ContactForm.astro';
---

<Layout
  description="Want to be included in this site? Submit your contribution for a review."
  pageTitle="Contact"
  title="Contact | Parallel Program Report"
  turnstile={true}
>
  <Line>Contact</Line>
  <span class="pt-1 italic"> Do you have the Parallel Program emblem, and are looking to see your name here? Let me know!</span>

  <ContactForm />

  <Footer />
</Layout>
