---
import Layout from '@layouts/Page.astro';
---

<Layout description="Frequently asked questions" pageTitle="FAQ" title="FAQ | Parallel Program Report">
  <div class="flex flex-col gap-3 pb-5 pt-3">
    <h1 class="title">FAQ</h1>

    <span>Frequently asked questions about Parallel Program.</span>
  </div>

  <div class="flex flex-col gap-5">
    <h2 class="title">What is Parallel Program?</h2>
    <p>
      Parallel Program is an emblem that is given to Guardians who have contributed to Destiny 2. This is mostly in form of third-party
      apps, but it can also include other roles, depending on the project leader and Bungie.
    </p>

    <h2 class="title">How can I get Parallel Program?</h2>
    <p>We don't have a direct answer to this question. The emblem is given out by Bungie, and it's up to them to decide who gets it.</p>

    <h2 class="title">Can you help me get Parallel Program?</h2>
    <p>
      We cannot help you get Parallel Program or assist you in getting it. We're not affiliated with Bungie in any way, and this is just a
      fan site listing Guardians who have the emblem.
    </p>
    <p>
      Please do not go around asking for help to get the emblem either. This won't help your chances of getting it, and will only make you
      look desperate.
    </p>

    <h2 class="title">I have the emblem, can I be added to the list?</h2>
    <p>
      Yes!

      <p>
        <span class="font-bold">If you're the sole maintainer of a resource:</span> Go to the <a href="/contact">Contact page</a>, and
        select
        <span class="font-bold">"I'm contacting as a maintainer"</span>.
      </p>

      <p>
        <span class="font-bold">If the resource you've contributed to is already listed:</span> Go to the <a href="/contact">Contact page</a
        >, and select <span class="font-bold">"I'm contacting as a contributor"</span>.
      </p>

      We'll take a look at your request as soon as possible. Note that we may decide to not list you if we believe you obtained the emblem
      fraudulently.
    </p>

    <h2 class="title">Can you fix/update my name, link, etc?</h2>
    <p>
      Go to the <a href="/contact">Contact page</a>, and select <span class="font-bold">"Leave a message"</span>. We'll take a look at your
      request as soon as possible.
    </p>
  </div>
</Layout>
