---
import Layout from '@layouts/Page.astro';

import { Image } from 'astro:assets';
import { collections } from '@lib/keystatic';

import Footer from '@components/base/Footer.astro';
import Header from '@components/home/Header.md';
import Notice from '@components/home/Notice.md';
import Resources from '@components/home/Resources.astro';

const resources = await collections.resources.all();
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="Parallel Program Report"
  title="Home | Parallel Program Report"
>
  <span class="flex flex-wrap justify-center pb-5">
    <Image class="w-24" src="/favicon.png" title="The Parallel Program emblem." alt="The Parallel Program emblem." width={96} height={96} />
  </span>

  <Header />

  <div class="flex flex-col gap-5">
    {
      resources.map((resource) => {
        return <Resources resource={resource.entry} />;
      })
    }
  </div>

  <Footer>
    <hr class="pt-5 text-ctp-red" />
    <Notice />
  </Footer>
</Layout>
