---
export const prerender = false;

import Layout from '@layouts/Page.astro';

import { collections } from '@utils/keystatic';

import Resource from '@components/Resource.astro';
import Search from '@components/Search.astro';

const resources = await collections.resources.all();
const guardians = await collections.contributors.all();
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="Parallel Program Report"
  title="Home | Parallel Program Report"
>
  <div class="flex flex-col gap-3 pb-3 pt-3">
    <h1 class="title">Home</h1>

    <p>
      Covers Guardians who contributed to Destiny 2 and have received the <a
        href="https://destinyemblemcollector.com/emblem?id=3936625542"
        target="_blank">Parallel Program emblem</a
      >.
    </p>

    <p>
      Currently showcasing <span class="font-bold">{resources.length}</span> resources and <span class="font-bold">{guardians.length}</span>
      Guardians.
    </p>
  </div>

  <Search />

  <div
    class="flex flex-col gap-10 pt-3 [&.htmx-swapping]:opacity-0 [&.htmx-swapping]:transition-opacity [&.htmx-swapping]:duration-700 [&.htmx-swapping]:ease-out"
    id="resources"
  >
    {
      resources.map((resource) => {
        return <Resource resource={resource.entry} />;
      })
    }
  </div>
</Layout>
