---
import Layout from '@layouts/Page.astro';

import { collections } from '@utils/keystatic';

import Footer from '@components/Footer.astro';
import Resource from '@components/Resource.astro';

const resources = await collections.resources.all();
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="Parallel Program Report"
  title="Home | Parallel Program Report"
>
  <div class="flex flex-col gap-3 pb-3 pt-3">
    <h1 class="title">Home</h1>

    <p>
      Covers Guardians who contributed to Destiny 2 and have received the <a
        href="https://destinyemblemcollector.com/emblem?id=3936625542"
        target="_blank">Parallel Program emblem</a
      >.
    </p>
  </div>

  <div class="flex flex-col gap-5">
    {
      resources.map((resource) => {
        return <Resource resource={resource.entry} />;
      })
    }
  </div>

</Layout>
