---
import Layout from '@layouts/Page.astro';

import type { ResourceModule } from '@utils/index';
import { Image } from 'astro:assets';

import Footer from '@components/base/Footer.astro';
import Header from '@components/home/Header.md';
import Line from '@components/base/Underline.astro';
import Notice from '@components/home/Notice.md';

import MainResources from '@components/home/MainResources.astro';
import OtherResources from '@components/home/OtherResources.astro';

const resources = (await Astro.glob<ResourceModule>('../utils/resources/*.ts')).map((entry) => entry.default);
const otherResources = (await import('@utils/other')).default;
---

<Layout
  description="This site covers Guardians who contributed to Destiny 2 and its API in a meaningful way, and have received the Parallel Program emblem."
  pageTitle="Parallel Program Report"
  title="Home | Parallel Program Report"
>
  <span class="flex flex-wrap justify-center pb-5">
    <Image class="w-24" src="/favicon.png" title="The Parallel Program emblem." alt="The Parallel Program emblem." width={96} height={96} />
  </span>

  <Header />

  {
    resources.map((resource) => {
      return <MainResources {resource} />;
    })
  }

  <span class="flex flex-col pt-2">
    <Line class="pt-6">Other resources</Line>
    <ul class="flex list-disc flex-col gap-2 pb-5 pl-6 pt-4 font-display">
      {
        otherResources.map((author) => {
          return <OtherResources {author} />;
        })
      }
    </ul>
  </span>

  <Footer>
    <hr class="pt-5 text-ctp-red" />
    <Notice />
  </Footer>

  <style>
    img[alt*='Logo of DestinyTracker'] {
      @apply pb-3 pt-3;
    }

    img[alt*='Logo of Ishtar Commander'] {
      @apply grayscale;
    }

    img[alt*='Logo of Ghost Overlay'] {
      @apply invert dark:invert-0;
    }
  </style>
</Layout>
