---
import Layout from '@layouts/Page.astro';
---

<Layout
  description="Want to be included in this site? Submit your contribution for a review."
  pageTitle="Contact"
  title="Contact | Parallel Program Report"
>
  <span class="pt-1 italic"> Do you have the Parallel Program emblem, and are looking to see your name here? Let me know!</span>

  <p>Success! Your response has been sent.</p>
</Layout>
