---
import Layout from '@layouts/Page.astro';
---

<Layout
  description="Want to be included in this site? Submit your contribution for a review."
  pageTitle="Contact"
  title="Contact | Parallel Program Report"
>
  <div class="flex flex-col gap-3 pt-3">
    <h1 class="title">Contact</h1>

    <p>Success! Your response has been sent.</p>
  </div>
</Layout>
