---
import Separator from '@components/base/Separator.astro';
import Link from '@components/home/Link.astro';
---

<footer class="flex flex-col pt-1">
  <slot />

  <hr class="text-ctp-red" />

  <p class="flex flex-row justify-center gap-1 pt-5">
    <span>&copy; {new Date().getFullYear()}</span>

    <Link name="Chloe Arciniega" class="font-semibold" link="https://arciniega.one" alt="A redirect to my site." />
  </p>

  <nav class="flex flex-wrap justify-center gap-4 pb-1 pt-4 font-display md:gap-3">
    <a href="/" title="Home">Home</a>
    <Separator />
    <a href="/contact" title="Submit a resource">Submit a resource</a>
    <Separator />
    <a href="/credits" title="Credits">Credits</a>
  </nav>
</footer>
