<footer class="flex flex-col pt-5">
  <hr class="text-ctp-red" />

  <div class="flex flex-col gap-1 pt-5 text-center">
    <div class="flex flex-col gap-3 pb-3">
      <p class="italic">Destiny and the Destiny logo are among the trademarks of Bungie, Inc.</p>

      <p>
        Compiled with the help of <a href="https://bray.tech">Braytech</a> and <a href="https://destinyemblemcollector.com"
          >Destiny Emblem Collector</a
        >. Thank you! 💖
      </p>
    </div>

    <p>
      &copy; {new Date().getFullYear()}
      <a class="font-semibold" href="https://sapphic.moe" target="_blank">Chloe Arciniega</a>
    </p>

    <p>Licensed under <a href="https://github.com/SapphicMoe/parallel.report/blob/master/LICENSE">zlib</a>.</p>
  </div>
</footer>
