---
export const prerender = false;
export const partial = true;

import Resource from '@components/Resource.astro';

import { getCollection, getEntry } from 'astro:content';

const search = (Astro.url.searchParams.get('search') || '').toLowerCase();

const allResources = await getCollection('resources');

const resources = allResources.filter((resource) => {
  return (
    resource.data.title.toLowerCase().includes(search) ||
    resource.data.description.toLowerCase().includes(search) ||
    resource.data.tags.some((tag) => tag.toLowerCase().includes(search)) ||
    resource.data.contributors.some((contributor) => contributor.contributor.toLowerCase().includes(search))
  );
});
---

{
  resources.length === 0 ? (
    <p>No results found.</p>
  ) : (
    resources.map(async (resource) => {
      const resourceEntry = await getEntry('resources', resource.id)!;

      return <Resource resource={resourceEntry.data} />;
    })
  )
}
