---
// eslint-disable-next-line no-undef
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  link?: string;
  name: string;
  alt?: string;
}

const { link, name, alt, ...props } = Astro.props;
---

<a href={link} title={alt ?? name} target="_blank" {...props}>{name}</a>
