---
interface Props {
  className?: string;
  link: string;
  name: string;
  alt?: string;
}

const { className, link, name, alt } = Astro.props;
---

<a class={className} href={link} title={alt ?? name} target="_blank">{name}</a>
