---
import '@styles/parallel.scss';

const { class: className } = Astro.props;
---

<div class={className}>
  <slot name="project-name" />
  <slot name="project-icon" />
  <slot name="project-description" />
  <hr />

  <slot />
</div>
