---
import '@styles/parallel.scss';

const { class: className } = Astro.props;
---

<div class={className}>
  <slot name="resource-name" />
  <slot name="resource-icon" />
  <slot name="resource-description" />
  <hr />

  <slot />
</div>
