---
const { class: className } = Astro.props;
---

<div class={`${className} flex flex-grow flex-col`}>
  <slot name="resource-name" />
  <slot name="resource-icon" />
  <slot name="resource-description" />
  <hr class="pb-1" />
  <slot name="resource-contributors" />

  <slot />
</div>

<style lang="scss" is:global>
  $parallels: (
    '.charlemagne': #e2dbdbb2,
    '.destinyitemmanager': #f37422,
    '.destinyinsights': #c0316e,
    '.destinyrecipes': #c8435d,
    '.destinysets': #57b2ad,
    '.destinytracker': #e2263c,
    '.felicity': #ff4351,
    '.ghostoverlay': #ffffffd2,
    '.guardiantheater': #b798c9,
    '.ishtarcollective': #4485c4,
    '.ishtarcommander': #d6d6d6c5,
    '.levante': #87d3c6,
    '.littlelight': #a492fff9,
    '.lostsectorreport': #c1b7fe,
    '.scrublandeux': #9fdd18,
    '.todayindestiny': #51a8a8,
    '.trialsreport': #ead884,
  );

  @mixin parallel($name, $color) {
    #{$name} :is(span a, li a, hr) {
      color: $color;
      border-color: $color;
    }
  }

  @each $class, $color in $parallels {
    @include parallel($class, $color);
  }

  li {
    @apply pl-5;
  }

  .ishtarcommander > span > img {
    @apply grayscale;
  }

  .parallel-img {
    @apply float-right;
  }
</style>
