<form class="flex flex-col gap-4" action="/api/verify" method="POST">
  <div>
    <label for="name" class="font-semibold">Name:</label>
    <input type="text" id="name" name="name" placeholder="Guardian" class="w-full rounded-md px-4 py-2 focus:outline-none" required />
  </div>

  <div>
    <label for="resourceName" class="font-semibold">Resource name:</label>
    <input
      type="text"
      id="resourceName"
      name="resourceName"
      placeholder="Destiny Item Manager"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
  </div>
  <div>
    <label for="resourceLink" class="font-semibold">Resource link:</label>
    <input
      type="url"
      id="resourceLink"
      name="resourceLink"
      placeholder="https://twitter.com/ThisIsDIM"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
  </div>
  <div>
    <label for="role" class="font-semibold">Your role or contribution:</label>
    <input
      type="text"
      id="role"
      name="role"
      placeholder="Wishlist Curator"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
  </div>
  <div>
    <label for="contact" class="font-semibold">Your means of communication, so I can reach back to you (optional):</label>
    <input
      type="text"
      id="contact"
      name="contact"
      placeholder="Email, Discord tag or etc"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
    />
  </div>

  <div class="cf-turnstile" data-sitekey={import.meta.env.TURNSTILE_SITE_KEY}></div>

  <button
    type="submit"
    class="h-12 w-28 rounded-full bg-ctp-red text-center font-medium text-ctp-base transition ease-out hover:opacity-80 dark:bg-ctp-red"
    >Submit</button
  >
</form>

<style>
  input {
    @apply border dark:border-ctp-red dark:border-opacity-60 dark:bg-ctp-base;
  }
</style>
