---
import { Icon } from 'astro-icon/components';
---

<form class="flex flex-col gap-4" action="/api/contact/contributor" method="POST">
  <div>
    <label for="name">Your name</label>
    <input type="text" id="name" name="name" placeholder="John Doe" required />
    <p>This can be your preferred name.</p>
  </div>

  <div>
    <label for="bungieName">Your Bungie Name</label>
    <input type="text" id="bungieName" name="bungieName" placeholder="Guardian#1234" required />
    <p>Your Destiny 2 Bungie Name, to check if you have the Parallel Program emblem.</p>
  </div>

  <div>
    <label for="link">Your link</label>
    <input type="url" id="link" name="link" placeholder="https://myawesomewebsite.com" required />
    <p>This can be your Bungie.net profile, your personal website, a GitHub profile, or anything, really.</p>
  </div>

  <div>
    <label for="resourceName">Resource name</label>
    <input type="text" id="resourceName" name="resourceName" placeholder="Destiny Item Manager" required />
    <p>The name of the resource you've contributed to.</p>
  </div>

  <div>
    <label for="resourceRole">Your role / contribution</label>
    <input type="text" id="resourceRole" name="resourceRole" placeholder="Wishlist Curator" required />
    <p>Your role in the resource.</p>
  </div>

  <div>
    <label for="contact"
      >Your means of communication, so we can reach back to you <span class="text-base font-normal">(optional)</span></label
    >
    <input type="text" id="contact" name="contact" placeholder="Email (hello@example.com), Discord tag (username), etc" />
    <p>This step is optional, but we can contact you in case we add you to a resource, or if we have follow-up questions.</p>
  </div>

  <div class="cf-turnstile" data-sitekey={import.meta.env.TURNSTILE_SITE_KEY}></div>

  <div>
    <button type="submit">
      <Icon name="mdi:alternate-email" />
      Submit
    </button>
  </div>
</form>

<style>
  label {
    @apply block pb-1 font-semibold;
  }

  input {
    @apply w-full rounded-md border-2 border-ctp-surface2 border-opacity-60 bg-ctp-base px-4 py-2 transition ease-out focus:border-ctp-red focus:outline-none focus:ring-0;
  }

  p {
    @apply pt-1 text-base opacity-80;
  }

  button {
    @apply flex flex-row items-center gap-2 rounded-lg bg-ctp-red p-3 text-center font-medium text-ctp-base transition ease-out hover:opacity-80;
  }
</style>
