---
import { Icon } from 'astro-icon/components';
---

<form class="flex flex-col gap-4" action="/api/contact/maintainer" method="POST">
  <div>
    <label for="name" class="font-semibold">Your name</label>
    <input type="text" id="name" name="name" placeholder="John Doe" class="w-full rounded-md px-4 py-2 focus:outline-none" required />
    <p class="pt-1 text-base opacity-80">This can be your preferred name.</p>
  </div>

  <div>
    <label for="bungieName" class="font-semibold">Your Bungie Name</label>
    <input
      type="text"
      id="bungieName"
      name="bungieName"
      placeholder="Guardian#1234"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
    <p class="pt-1 text-base opacity-80">Your Destiny 2 Bungie Name, to check if you have the Parallel Program emblem.</p>
  </div>

  <div>
    <label for="link" class="font-semibold">Your link</label>
    <input
      type="url"
      id="link"
      name="link"
      placeholder="https://myawesomewebsite.com"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
    <p class="pt-1 text-base opacity-80">
      This can be your Bungie.net profile, your personal website, a GitHub profile, or anything, really.
    </p>
  </div>

  <div>
    <label for="resourceName" class="font-semibold">Resource name</label>
    <input
      type="text"
      id="resourceName"
      name="resourceName"
      placeholder="Destiny Item Manager"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
    <p class="pt-1 text-base opacity-80">The name of your resource.</p>
  </div>

  <div>
    <label for="resourceLink" class="font-semibold">Resource link</label>
    <input
      type="url"
      id="resourceLink"
      name="resourceLink"
      placeholder="https://twitter.com/ThisIsDIM"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
    <p class="pt-1 text-base opacity-80">This can either be a link to your resource's website or a GitHub repository link.</p>
  </div>

  <div>
    <label for="resourceIcon" class="font-semibold">Resource icon (URL) (optional)</label>
    <input
      type="url"
      id="resourceIcon"
      name="resourceIcon"
      placeholder="https://github.com/DestinyItemManager.png"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
    />
    <p class="pt-1 text-base opacity-80">
      A link to your resource's icon, if you have one. If your resource doesn't have one, this can be skipped.
    </p>
  </div>

  <div>
    <label for="resourceColor" class="font-semibold">Resource color</label>
    <input
      type="text"
      id="resourceColor"
      name="resourceColor"
      placeholder="#FFFFFF"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
    <p class="pt-1 text-base opacity-80">The HEX color of your resource.</p>
  </div>

  <div>
    <label for="resourceRole" class="font-semibold">Your role / contribution</label>
    <input
      type="text"
      id="resourceRole"
      name="resourceRole"
      placeholder="Developer"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      required
    />
    <p class="pt-1 text-base opacity-80">Your role in the resource.</p>
  </div>

  <div>
    <label for="resourceContributors" class="font-semibold"
      >Resource contributors <span class="text-base font-normal">(optional)</span></label
    >
    <textarea
      id="resourceContributors"
      name="resourceContributors"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
      placeholder="John Doe#1234, Developer, https://twitter.com/johndoe
Jane Doe#4321, Contributor, https://github.com/janedoe"
      rows="4"></textarea>
    <p class="pt-1 text-base opacity-80">
      Optionally, if your resource has any contributors, list them here. You must include their Bungie Names, their roles and their links.
    </p>
  </div>

  <div>
    <label for="contact" class="font-semibold"
      >Your means of communication, so we can reach back to you <span class="text-base font-normal">(optional)</span></label
    >
    <input
      type="text"
      id="contact"
      name="contact"
      placeholder="Email (hello@example.com), Discord tag (username), etc"
      class="w-full rounded-md px-4 py-2 focus:outline-none"
    />
    <p class="pt-1 text-base opacity-80">
      This step is optional, but we can contact you in case we add your resource, or if we have questions regarding your resource.
    </p>
  </div>

  <div class="cf-turnstile" data-sitekey={import.meta.env.TURNSTILE_SITE_KEY}></div>

  <div>
    <button
      type="submit"
      class="flex flex-row items-center gap-2 rounded-lg bg-ctp-red p-3 text-center font-medium text-ctp-base transition ease-out hover:opacity-80"
    >
      <Icon name="mdi:alternate-email" />
      Submit
    </button>
  </div>
</form>

<style>
  label {
    @apply block pb-1;
  }
  input,
  textarea {
    @apply border border-ctp-red border-opacity-60 bg-ctp-base;
  }
  textarea + p {
    @apply -mt-1.5;
  }
</style>
