<footer class="flex flex-col pt-5">
  <hr class="border-ctp-red" />

  <div class="flex flex-col gap-1 pt-5 text-center">
    <p>This website is unaffiliated with Bungie, Inc.</p>
    <p>
      &copy; {new Date().getFullYear()}
      <a class="font-semibold" href="https://sapphic.moe" target="_blank">Sapphic Angels</a>
    </p>

    <p>Licensed under <a href="https://github.com/SapphicMoe/parallel.report/blob/master/LICENSE" target="_blank">zlib</a>.</p>
  </div>
</footer>
