---
import Link from '@components/Link.astro';
import Separator from '@components/Separator.astro';

import { Icon } from 'astro-iconify';
---

<footer class="flex flex-col pt-1">
  <slot />

  <hr class="text-ctp-red" />

  <span class="pt-5">
    &copy; {new Date().getFullYear()}

    <Link
      class="font-semibold"
      href="https://arciniega.one"
      title="Chloe Arciniega's website (arciniega.one)"
      target="_blank"
    >
      Chloe Arciniega
    </Link>
  </span>

  <!-- prettier-ignore -->
  <span class="pt-5 pb-2">
    Built with
    <Icon size={30} class="text-ctp-peach" name="simple-icons:astro" />
    <Link color="text-ctp-peach" class="font-semibold" href="https://astro.build" title="Astro" target="_blank"> Astro</Link>,

    <Icon size={30} class="text-ctp-sapphire" name="mdi:language-typescript" />
    <Link color="text-ctp-sapphire" class="font-semibold" href="https://www.typescriptlang.org/" title="TypeScript" target="_blank"> TypeScript</Link>,

    and <Icon size={30} class="text-ctp-red " name="mdi:cards-heart" />
    <Link class="font-semibold" href="https://arciniega.one" title="love" target="_blank">love</Link>.
  </span>

  <nav class="flex-cel flex flex-wrap gap-4 pb-1 pt-4 md:gap-3">
    <Link href="/" title="Home">Home</Link>
    <Separator />
    <Link href="/contact" title="Submit a resource">Submit a resource</Link>
    <Separator />
    <Link href="/credits" title="Credits">Credits</Link>
  </nav>
</footer>
