<footer class="text-center p-2.5">
  <slot />
  <hr />
  <span>© 2021-present <a href="https://www.arciniega.one" title="Chloe Arciniega's website (arciniega.one)" target="_blank">Chloe Arciniega/solely</a>.</span>
  <br />
  <a href="credits.txt" title="Credits" target="_blank">Credits</a>
  |
  <a href="domains.txt" title="Domain List" target="_blank">Domain List</a>
  |
  <a href="LICENSE" title="MIT License" target="_blank">License</a>
</footer>
