---
import Link from '@components/Link.astro';
import Separator from '@components/Separator.astro';
import { Icon } from 'astro-iconify';

const IS_PRODUCTION = import.meta.env.MODE === 'production';

const credits = IS_PRODUCTION ? '/credits' : '/credits.txt';
---

<footer class="flex flex-col pt-1">
  <slot />

  <hr class="text-ctp-red" />

  <span class="pt-5">
    &copy; {new Date().getFullYear()}
    <Link
      class="font-semibold"
      href="https://arciniega.one"
      title="Chloe Arciniega's website (arciniega.one)"
      target="_blank"
    >
      Chloe Arciniega
    </Link>
  </span>

  <!-- prettier-ignore -->
  <span class="pt-5 pb-2">
    Built with
    <Icon size={30} class="text-ctp-red " name="simple-icons:astro" />
    <Link class="font-semibold" href="https://astro.build" title="Astro" target="_blank"> Astro</Link>,

    <Icon size={30} class="text-ctp-red " name="mdi:language-typescript" />
    <Link class="font-semibold" href="https://www.typescriptlang.org/" title="TypeScript" target="_blank"> TypeScript</Link>,

    and <Icon size={30} class="text-ctp-red " name="mdi:cards-heart" />
    <Link class="font-semibold" href="https://arciniega.one" title="love" target="_blank">love</Link>.
  </span>

  <nav class="flex-cel flex flex-wrap gap-[15px] pb-1 pt-4 md:gap-[10px]">
    <Link href="/" title="Home">Home</Link>
    <Separator />
    <Link href="/contact" title="Submit a resource">Submit a resource</Link>
    <Separator />
    <Link href={credits} title="Credits">Credits</Link>
    <Separator />
    <Link href="https://github.com/solelychloe/parallel.report" title="Source code" target="_blank">Source</Link>
  </nav>
</footer>
