<footer class="text-center p-2.5">
  <slot />
  <hr class="bg-ctp-pink" />
  <span>© 2022 Chloe Arciniega/solely.</span>
  <br />
  <div class="footer-links text-ctp-pink">
    <a href="/" title="Home Page">Home</a> | <a href="credits.txt" title="Credits" target="_blank">Credits</a>
    |
    <a href="domains.txt" title="Domain List" target="_blank">Domain List</a> | <a href="LICENSE" title="MIT License" target="_blank">License</a>
  </div>
</footer>
