<div class="article-content prose dark:prose-invert">
  <slot />
</div>

<style is:global>
  .article-content {
    @apply text-xl;
    @apply self-center text-center;
    @apply flex flex-col;
    @apply pb-5;

    & :is(h1, h2, h3, h4, h5, h6, p, strong, li) {
      @apply text-ctp-text;
    }
  }
</style>
