---
import Head from '@components/base/Head.astro';
import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

interface Props {
  description?: string;
  pageTitle: string;
  title: string;
  turnstile?: boolean;
}

const { description, pageTitle, title, turnstile } = Astro.props;
---

<!DOCTYPE html>
<html class="flex flex-col" lang="en">
  <Head description={description} pageTitle={pageTitle} title={title}>
    {
      turnstile && (
        <script
          is:inline
          src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"
          class="turnstile"
        />
      )
    }
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <main class="flex flex-col gap-2">
      <slot />
    </main>

    <style is:global>
      a {
        @apply text-ctp-red transition ease-out hover:underline hover:opacity-60;
      }

      body {
        @apply ctp-latte bg-ctp-base text-ctp-text dark:ctp-mocha selection:bg-ctp-red selection:text-ctp-crust dark:bg-ctp-crust;
        @apply max-w-[45em] px-[1em] py-[2em] md:px-[2.5em];
      }

      .line {
        @apply font-display;
      }

      [astro-icon] {
        @apply inline;
        @apply pb-1;
      }
    </style>
  </body>
</html>
