---
import Head from '@components/base/Head.astro';
import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

interface Props {
  description?: string;
  pageTitle: string;
  title: string;
  turnstile?: boolean;
}

const { description, pageTitle, title, turnstile } = Astro.props;
---

<!doctype html>
<html class="flex flex-col" lang="en">
  <Head {description} {pageTitle} {title}>
    {turnstile && <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer is:inline />}
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <main class="flex flex-col gap-2">
      <slot />
    </main>

    <style is:global>
      a {
        @apply text-ctp-red transition ease-out hover:underline hover:opacity-60;
      }

      body {
        @apply ctp-mocha bg-ctp-crust font-body text-ctp-text selection:bg-ctp-red selection:text-ctp-crust;
        @apply max-w-[45em] px-[1em] py-[2em] md:px-[2.5em];
      }

      .line {
        @apply font-body;
      }
    </style>
  </body>
</html>
