---
import Head from '@components/Head.astro';

import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

interface Props {
  description?: string;
  pageTitle: string;
  title: string;
  turnstile?: boolean;
}

const { description, pageTitle, title, turnstile } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head description={description} pageTitle={pageTitle} title={title}>
    {
      turnstile && (
        <script
          is:inline
          src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"
          class="turnstile"
        />
      )
    }
  </Head>

  <body class="flex flex-col self-center text-xl">
    <slot />

    <style is:global>
      html {
        @apply flex flex-col;
      }
      body {
        @apply ctp-latte bg-light-bg text-light-text dark:ctp-mocha dark:bg-ctp-crust dark:text-ctp-text;
        @apply max-w-[45em] px-[1.5em] py-[2em] md:px-[2.5em];
      }

      nav,
      .line,
      .links {
        @apply font-display;
      }

      .content {
        @apply flex flex-col gap-2;
      }

      [astro-icon] {
        @apply inline;
        @apply pb-1;
      }
    </style>
  </body>
</html>
