---
import Head from '@components/head.astro';

import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

import '@styles/sakura.scss';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head description={description} title={title} />

  <body>
    <slot />
  </body>
</html>
