---
import Head from '@components/Head.astro';
import '@fontsource/atkinson-hyperlegible';
import NavBar from '@components/NavBar.astro';
import Footer from '@components/Footer.astro';

interface Props {
  description?: string;
  pageTitle: string;
  title: string;
  turnstile?: boolean;
}

const { description, pageTitle, title, turnstile } = Astro.props;
---

<!doctype html>
<html class="flex flex-col" lang="en" transition:animate="fade">
  <Head {description} {pageTitle} {title}>
    {turnstile && <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer is:inline />}
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <main class="flex flex-col gap-2">
      <NavBar />

      <slot />

      <Footer />
    </main>

    <style is:global>
      a {
        @apply text-ctp-red transition ease-out hover:underline hover:opacity-60;
      }

      body {
        @apply ctp-mocha bg-ctp-crust font-body text-ctp-text selection:bg-ctp-red selection:text-ctp-crust;
        @apply w-full max-w-[45em] px-6 py-10;
      }
    </style>

    <script>
      import htmx from 'htmx.org';

      declare global {
        interface Window {
          turnstile: {
            reset: () => void;
            implicitRender: () => void;
          };
        }
      }

      // Runs on view transitions navigation + process the new HTML
      document.addEventListener('astro:after-swap', () => {
        htmx.process(document.documentElement);

        if (window.turnstile) {
          try {
            window.turnstile.reset();
          } catch (e) {}
          window.turnstile.implicitRender();
        }
      });
    </script>
  </body>
</html>
